@media only screen and (max-width: 285px) {
  .banner .bannername {
    margin : 0;
    padding: 0;
    font-size: .1em;
  }

  .banner .bannertext {
    padding: 0;
    margin: 0;
    font-size: .5em;
    margin-left: -15px;
  }
}
@media only screen and (max-width: 360px) and (min-width:285px){
    .banner .bannername {
      margin : 0;
      padding: 0;
      font-size: .3em;
    }

    .banner .bannertext {
      padding: 0;
      margin: 0;
      font-size: .8em;
      margin-left: -15px;
    }
}

@media only screen and (max-width: 425px) and (min-width:360px) {
  .banner .bannername {
    margin : 0;
    padding: 0;
    font-size: .4em;
  }

  .banner .bannertext {
    padding: 0;
    margin: 0;
    font-size: .9em;
    margin-left: -15px;
  }
}

@media only screen and (max-width: 500px) and (min-width:425px) {
  .banner .bannername {
    margin : 0;
    padding: 0;
    font-size: .5em;
  }

  .banner .bannertext {
    padding: 0;
    margin: 0;
    font-size: 1em;
    margin-left: -15px;
  }
}

@media only screen and (max-width: 900px) and (min-width:500px) {
  .banner .bannername {
    margin : 0;
    padding: 0;
    font-size: .6em;
  }

  .banner .bannertext {
    padding: 0;
    margin: 0;
    font-size: 1em;
    margin-left: -15px;
  }
}

@media only screen and (max-width: 1040px) and (min-width:900px) {
  .banner .bannername {
    margin : 0;
    padding: 0;
    font-size: .8em;
  }

  .banner .bannertext {
    padding: 0;
    margin: 0;
    font-size: 1em;
    margin-left: -10px;
  }
}